{% extends 'admin/base.html' %}

{% block content %}
  <div class="container">
    <h1 class="mt-5">Welcome to the admin panel</h1>
    <hr>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Add vehicle</h5>
            <p class="card-text">Add a new vehicle to the catalog</p>
            <!-- <a href="#" class="btn btn-primary">Add</a> -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Add
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add vehicle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="addVehicleForm">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" required>
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" min="0" class="form-control" id="price" required>
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="onSave(event)" id="saveAddCar">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
  const onSave = async event => {
    const saveButton = document.getElementById('saveAddCar');
    saveButton.disabled = true;
    console.log('onSave');
    const form = document.getElementById('addVehicleForm');
    const {name, category, price} = form;

    const url = '/api/add-vehicle/';
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const response = await fetch(url, {
      method: 'POST',
      body: JSON.stringify({
        name: name.value,
        category: category.value,
        price: price.value,
      }),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken,
      }
    }).then(res => res.json()).finally(() => 
    saveButton.disabled = false);
    console.log(response);
  }
</script>
{% endblock content %}